////////////
// RESET
////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  padding-top: 70px;
}
////////////
// VARIABLES
////////////
$primary: #102542;
$secondary: #ffeddf;
$danger: #f87096;
////////////
// CONTAINERS
////////////
.container {
  max-width: 1200px;
  margin: 0 auto;
}
main {
  margin-top: 2rem;
  padding: 1rem;
}
////////////
// MIXINS
////////////
@mixin white-on-blue {
  background: $primary;
  color: $secondary;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 500px;
  margin: 0 auto;
  span {
    // @include add-to-cart;
    font-size: 1.7rem;
    cursor: pointer;
  }
}
@mixin add-to-cart {
  background: $danger;
  color: black;
  padding: 0 0.25rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

////////////
// NAVBAR
////////////
.main-nav {
  position: fixed;
  border-bottom: 3px solid $danger;
  width: 100%;
  max-width: 1200px;

  top: 0;
  background: $primary;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  .brand p {
    font-size: 1.5rem;
    color: $danger;
  }
  nav a {
    text-decoration: none;
    color: $danger;
    margin: 0 0.5rem;
    &:hover {
      color: $secondary;
    }
    &.active {
      color: $secondary;
    }
    span {
      font-size: 1.5rem;
    }
  }
}
////////////
// SHOP
////////////
section#shop {
  .product-card {
    margin: 3rem 1rem;
    .product-card__header {
      @include white-on-blue;
      text-align: center;
    }
    .product-card__body {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .sizes {
        span {
          &:not(:last-of-type) {
            &::after {
              content: "|";
              margin-right: 0.15rem;
            }
          }
        }
      }
      img {
        max-width: 100px;
        max-height: 150px;
      }
    }
    .product-card__footer {
      @include white-on-blue;

      span {
        // @include add-to-cart;
        font-size: 1.7rem;
        cursor: pointer;
      }
    }
  }
}
////////////
// SINGLE PRODUCT
////////////
main#single-product {
  text-align: center;
  .single-product__body {
    img {
      width: 240px;
      height: 360px;
      margin: 0 auto;
    }
    p {
      margin: 1rem auto;
    }
  }
  .single-product__footer {
    @include white-on-blue;
  }
}
////////////
// CART VALIDATION
////////////
main#cart-validation {
  width: 100%;
  section {
    .error-message {
      margin: 0 auto;
      background: pink;
      text-align: center;
    }
    form {
      .form-group {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: center;
        p {
          margin: 0.1rem auto;
          input {
            width: 100%;
            text-align: center;
            background: white;
            border: none;
          }
          span.trash {
            position: relative;
            top: 1px;
            left: 10px;
            background: red;
            color: white;
            border: 1px solid red;
            height: 100%;
            cursor: pointer;
          }
          &.count {
            display: flex;
            justify-content: center;
            span {
              position: relative;

              &:nth-of-type(1) {
                left: 15px;
                vertical-align: middle;
              }
              &:nth-of-type(2) {
                position: relative;
                top: -2px;
                right: 10px;
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
///////////
// CHECKOUT
////////////
main#checkout {
  header {
  }
  section {
    ul.item-line,
    ul.item-line__header {
      margin: 0.5rem auto;
      list-style: none;
      display: flex;
      justify-content: space-between;
      text-align: center;
      li {
        width: 22%;
      }
    }
    h3 {
      margin-top: 2rem;
    }
  }
}
///////////
// CONNEXION
////////////
main#connexion {
  header {
  }
  section {
    form {
      label,
      input {
        font-size: 1rem;
        display: block;
        width: 100%;
        margin: 0.5rem auto;
        span.error {
          color: red;
        }
      }
      input[type="submit"] {
        margin-top: 1rem;
        background: $primary;
        padding: 0.5rem;
        color: $secondary;
        border: none;
        &:hover {
          border: 1px solid $primary;
          color: $primary;
          font-weight: bold;
          background: white;
        }
      }
    }
  }
}
//////////
// MEDIA QUERY >596px
//////////
@media (min-width: 576px) {
  ////////////
  // SHOP
  ////////////
  section#shop {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-evenly;
    .product-card {
      width: 30%;
      text-align: center;
      margin: 2rem 0;
      .product-card__header {
        @include white-on-blue;
      }
      .product-card__body {
        flex-direction: column;
        margin: 1.5rem 0;
        .sizes {
          margin-top: 0.5rem;
          span {
            &:not(:last-of-type) {
              &::after {
                content: "|";
                margin-right: 0.15rem;
              }
            }
          }
        }
        img {
          max-width: 160px;
          max-height: 240px;
        }
      }
      .product-card__footer {
        @include white-on-blue;
      }
    }
  }
}
